.pannel {
  position: relative;
  min-height: 400px;
}
.pannel-form {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
  left: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}
.chat-messages {
  max-height: 300px;
  overflow-y: auto;
}
.chat-messages::-webkit-scrollbar {
  width: 3px;
  background-color: #d8c5c5;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #71aada;
}
.ant-comment-inner {
  padding: 4px 0 0 0 !important;
}
.msg > * {
  padding: 5px !important;
  border-radius: 10px;
  width: fit-content !important;
  background-color: #75757520 !important;
}
.msg + .msg {
  margin-top: 3px;
}
.msg {
  display: flex;
}
.msg-local > * {
  background: #b1cfe780 !important;
}
/* .msg-remote > * {
  background: #ece9e9;
} */
.msg-local {
  justify-content: flex-end;
}
.msg-remote {
  justify-content: flex-start;
}
