body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Roboto", sans-serif !important; */
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
.labell {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
.ant-picker-ranges {
  padding: 10px 12px !important;
}
.ant-picker-ok button {
  padding: 0 20px;
}
.ant-list-item {
  padding: 12px 20px !important;
  box-sizing: border-box;
}
.ant-list-item:hover {
  cursor: pointer;
  background: #f1f1f1;
}
svg {
  cursor: pointer;
}
.chapters {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 0 20px;
}
/* .lessions {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 0 20px;
} */
.ant-tabs-tab {
  width: 100%;
}

.ant-tabs-tab .ant-tabs-tab-active {
  background: #f1f1f1 !important;
  /* background: #fff !important; */
}
.ck.ck-editor__editable_inline > :last-child {
  min-height: 100px;
}
.ant-select-selector > *,
.ant-select-selector {
  display: none !important;
}
.text_pri {
  font-weight: 700;
  font-size: 17px;
}
body {
  background: #75757515;
}
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.confirm_modal li {
  align-items: center;
}
.ant-notification-notice {
  z-index: 9999999999 !important;
}
.ant-tabs-nav-list {
  width: 100%;
}
.ant-tabs-tab {
  justify-content: center;
}
.ant-tabs-tab.ant-tabs-tab-active {
  background: #1976d2;
  color: white !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}
a {
  color: #616161 !important;
}
a:hover {
  color: #1890ff !important;
}
.link {
  color: #1890ff !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link:hover {
  color: #616161 !important;
}
.MuiDivider-root {
  border-color: #616161;
}
.white {
  color: white !important;
}
.mychat {
  background: #1976d210;
}
.ant-comment {
  background-color: unset !important;
}
.MuiPopover-paper {
  /* top: 167px !important;
  left: 1440px !important; */
}
.ant-menu-item {
  margin-bottom: 20px !important;
}
