.member-pannel {
  border: 1px solid #757575;
  border-radius: 20px;
  padding: 15px 20px;
  overflow-y: auto;
}
#combo-box-demo {
  width: 100%;
  display: inline-block;
}
.member-pannel + .member-pannel {
  margin-top: 10px;
}
