.cont {
  /* background-color: #f9f9f9; */
  background-color: #fdfdfd;
}
.short {
  font-size: 17px;
}
.label2 {
  font-size: 14px;
}
.label2 > * {
  font-size: 12px;
}
.course {
  margin-top: 40px;
}
